/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "application/fonts";
@import "framework_and_overrides";

.call-to-action {
  background: url(image-path('bg/halftone.png'));

  .signup {
    padding-top: 2rem;
  }
}

.proposition {
  h3 {
    color: #183152;
  }
}

$text-color: #eee;
.language-and-tools {
  background: #183152;

  h4 {
    color: $text-color;
  }

  ul {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
  }

  li {
    width: 25%;
    float: left;
    display: inline;
    color: $text-color;

    @media #{$small-only} {
      width: 50%;
    }
  }

  a, a:visited, a:hover {
    color: $text-color;
  }
}

