@font-face {
  font-family: 'Roboto Regular';
  src: url(font-path('Roboto-Regular-webfont.eot'));
  src: url(font-path('Roboto-Regular-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font-path('Roboto-Regular-webfont.woff')) format('woff'),
       url(font-path('Roboto-Regular-webfont.ttf')) format('truetype'),
       url(font-path('Roboto-Regular-webfont.svg#robotoregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABeeZee';
  src: url(font-path('ABeeZee-Regular.otf')) format('opentype');
  font-weight: normal;
  font-style: normal;
}
